/.env.override
/docker-compose.override.yml

/api/coverage/
/api/.bundle
/api/log/*
/api/tmp/*
!/api/log/.keep
!/api/tmp/.keep
/api/tmp/pids/*
!/api/tmp/pids/
!/api/tmp/pids/.keep
/api/tmp/mailers/*
!/api/tmp/mailers/.keep
/api/storage/*
!/api/storage/.keep
/api/tmp/storage/*
!/api/tmp/storage/
!/api/tmp/storage/.keep
/api/config/master.key

/openapi/bundled/
!/openapi/bundled/.keep
/openapi/node_modules/
